<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | CreateManga</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    <link rel="stylesheet" href="~/js/GoTopButton.js" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="text-white" style="background-color: #191919">
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/Img/Manga-Logo.png" class="img-fluid" alt="Logo" style="margin-right: 15px" />
                <a class="my-nav-link navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CreateManga</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="my-nav-link nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="my-nav-link nav-link" asp-area="Designing" asp-controller="Manga" asp-action="Index">Mangas</a>
                            </li>
                            <li class="nav-item">
                                <a class="my-nav-link nav-link" asp-area="Designing" asp-controller="Characters" asp-action="Index">Characters</a>
                            </li>
                            <li class="nav-item">
                                <a class="my-nav-link nav-link" asp-area="Designing" asp-controller="Chapters" asp-action="Index">Chapters</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CreateManga - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript">
        document.querySelector('body').onload = function checkIfNotificationMessageIsGiven() {
            if ('@this.TempData[NotificationsConstants.SUCCESS_NOTIFICATION]') {
                toastr.success('@this.TempData[NotificationsConstants.SUCCESS_NOTIFICATION]');
            }
            if ('@this.TempData[NotificationsConstants.ERROR_NOTIFICATION]') {
                toastr.error('@this.TempData[NotificationsConstants.ERROR_NOTIFICATION]');
            }
            if ('@this.TempData[NotificationsConstants.WARNING_NOTIFICATION]') {
                toastr.warning('@this.TempData[NotificationsConstants.WARNING_NOTIFICATION]');
            }
            if ('@this.TempData[NotificationsConstants.INFO_NNOTIFICATION]') {
                toastr.info('@this.TempData[NotificationsConstants.INFO_NNOTIFICATION]');
            }
        };
    </script>

    <script src="~/js/GoTopButton.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
