@model CreateChaptersBindingModel

@{
    ViewData["Title"] = $"Create chapters";
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1>Create new chapter</h1>
    </div>
</div>
<div class="row pt-5">
    <div class="mx-auto" style="width: 40%">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story" class="control-label"></label>
                <textarea asp-for="Story" class="w-100" style="height: 200px"></textarea>
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <input class="font-weight-bold" asp-for="@Model.ImageFile" accept="image/*" />
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangaId" class="control-label"></label>
                <select asp-for="MangaId" class="form-control">
                    @foreach (var manga in ViewBag.Mangas)
                    {
                        <option value="@manga.Id">@manga.Name</option>
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-danger w-50 mt-2" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
