@model IEnumerable<GetAllChaptersViewModel>

@{
    ViewData["Title"] = "All characters";

    bool isHaveUpdatePermissions =
    this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.EDITOR_ROLE_NAME);

    bool isHaveCreateAndDeletePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<h1>Characters</h1>
<br />
@if (isHaveCreateAndDeletePermissions)
{
    <div>
        <a class="btn btn-outline-danger" asp-action="Create">Create Chapter</a>
    </div>
}
<br />
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GetAllChaptersViewModel chapters in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => chapters.Title)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = chapters.Id })

                    @if (isHaveUpdatePermissions)
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Update", new { id = chapters.Id })
                    }
                    @if (isHaveCreateAndDeletePermissions)
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = chapters.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
