@model IEnumerable<GetAllChaptersViewModel>

@{
    ViewData["Title"] = "All characters";

    bool isHaveUpdatePermissions =
    this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.EDITOR_ROLE_NAME);

    bool isHaveCreateAndDeletePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <h1>
        All chapters
    </h1>
    @if (isHaveCreateAndDeletePermissions)
    {
        <div>
            <a class="btn btn-outline-danger" asp-action="Create">Create Chapter</a>
        </div>
    }
</div>
<table class="table text-white mt-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GetAllChaptersViewModel chapters in Model)
        {
            <tr>
                <td>
                    <div>
                        @if (chapters.ImageName == null)
                        {
                            <img src="~/Img/default-image.png" style="width: 100%; height: 300px" />
                        }
                        else
                        {
                            <img src="@("~/Img/ChaptersImage"+chapters.ImageName)" asp-append-version="true" style="width: 100%; height: 300px" />
                        }
                    </div>
                </td>
                <td>
                    <a class="options-bar" asp-controller="Chapters" asp-action="Details" asp-route-id="@chapters.Id">
                        <span>Details</span>
                    </a>

                    @if (isHaveUpdatePermissions)
                    {
                        <span>|</span>
                        <a class="options-bar" asp-controller="Chapters" asp-action="Update" asp-route-id="@chapters.Id">
                            Update
                        </a>
                    }
                    @if (isHaveCreateAndDeletePermissions)
                    {
                        <span>|</span>
                        <a class="options-bar" data-toggle="modal" data-target="#modal">
                            Delete
                        </a>
                        <partial name="_ChaptersDeleteModel" model="@Model" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
