@model MangaViewModel

@{
    ViewData["Title"] = $"Details - {Model.MangaName}";

    bool isEndDateNull = Model.EndDate == null;
}

<h1>Details</h1>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MangaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MangaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @if (isEndDateNull)
            {
                <span>Not set</span>
            }
            else
            {
                @Html.DisplayFor(model => model.EndDate)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.Id">Edit</a>
    |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    |
    <a asp-action="Index">Back to List</a>
</div>
