@model MangaViewModel

@{
    ViewData["Title"] = $"Details - {Model.MangaName}";

    bool isEndDateNull = Model.EndDate == null;

    bool isHaveDeletePermissions =
    this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1>Details: <b>@Model.MangaName</b></h1>
    </div>
    <div>
        @if (isHaveDeletePermissions)
        {
            <a class="btn btn-outline-danger" data-toggle="modal" data-target="#modal">
                Delete
            </a>
        }
    </div>
</div>
<div class="mt-5">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MangaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MangaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @if (isEndDateNull)
            {
                <span>Not set</span>
            }
            else
            {
                @Html.DisplayFor(model => model.EndDate)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<partial name="_MangasDeleteModal" model="@Model" />

