@model MangaViewModel

@{
    ViewData["Title"] = $"Details - {Model.MangaName}";

    bool isEndDateNull = Model.EndDate == null;

    bool isHaveDeletePermissions =
    this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
    this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid white">
    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
    </div>
    <div>
        <h1><b>@Model.MangaName</b></h1>
    </div>
    <div>
        @if (isHaveDeletePermissions)
        {
            <a class="btn btn-outline-danger" data-toggle="modal" data-target="#modal">
                Delete
            </a>
        }
    </div>
</div>
<div class="mt-5">
    <dl class="d-flex">
        <div>
            @if (Model.ImageName == null)
            {
                <img src="~/Img/default-image.png" style="width: 225px; height: 320px" />
            }
            else
            {
                <img src="@("~/ImageFromUsers/"+Model.ImageName)" asp-append-version="true" style="width: 225px; height: 320px" />
            }
        </div>
        <div class="pl-5">
            <dt>
                @Html.DisplayNameFor(model => model.MangaName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MangaName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @if (isEndDateNull)
                {
                    <span>Not set</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.EndDate)
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>
    </dl>
</div>

<partial name="_MangasDeleteModal" model="@Model" />

