@model MangasViewModel

@{
    ViewData["Title"] = "All mangas";
}

<head>
    <link rel="stylesheet" href="~/css/MangaIndex.css" />
</head>
<h1>Manga index view</h1>
<br />
<div>
    <div style="border-bottom: 1px solid white">
        <a class="btn btn-outline-danger mb-2" asp-action="Create">Create new Manga</a>
    </div>
    <div class="text-center">
        @{
            foreach (var manga in Model.Mangas)
            {
                <div class="anime-form">
                    <div class="d-block" style="border: 1px solid #8c8c8c; background-color: black">
                        @if (manga.ImageName == null)
                        {
                            <img src="~/Img/default-image.png" style="width: 100%; height: 300px" />
                        }
                        else
                        {
                            <img src="@("~/ImageFromUsers/"+manga.ImageName)" asp-append-version="true" style="width: 100%; height: 300px" />
                        }
                        <br />
                        <div>
                            <div class="mt-2 pb-2 mr-1 ml-2" style="border-bottom: 1px solid #979797">
                                <span>Name: @manga.MangaName</span>
                            </div>
                            <div class="mt-1">
                                @manga.Description
                            </div>
                            <div class="pt-2">
                                <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                                    <span>Details</span>
                                </a>
                                |
                                <a asp-controller="Manga" asp-action="Update" asp-route-id="@manga.Id">
                                    Update
                                </a>
                                |
                                <a asp-controller="Manga" asp-action="Delete" asp-route-id="@manga.Id">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
