@model MangasViewModel

@{
    ViewData["Title"] = "All mangas";

    bool isHaveUpdatePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.EDITOR_ROLE_NAME);

    bool isHaveCreateAndDeletePermissions =
        this.User.IsInRole(RolesConstants.ADMIN_ROLE_NAME) ||
        this.User.IsInRole(RolesConstants.AUTHOR_ROLE_NAME);
}

<head>
    <link rel="stylesheet" href="~/js/GoTopButton.js" />
    <link rel="stylesheet" href="~/css/MangaIndex.css" />
</head>

<div>
    <button onclick="GoTopFunction()" id="GoTopBtn" title="Go to top"><img src="~/Img/upIcon.png" style="width: 30px; height: 30px"/></button>
</div>
<div>
    <div class="d-flex justify-content-between align-items-center">
        <h1>All Mangas</h1>
        <br />

        @if (isHaveCreateAndDeletePermissions)
        {
            <div>
                <a class="btn btn-outline-danger mb-2" asp-action="Create">Create new Manga</a>
            </div>
        }
    </div>
    <div class="text-center" style="border-top: 1px solid white">
        @{
            foreach (var manga in Model.Mangas)
            {
                <div class="anime-form">
                    <div class="d-block" style="border: 1px solid #8c8c8c; background-color: black">
                        @if (manga.ImageName == null)
                        {
                            <img src="~/Img/default-image.png" style="width: 100%; height: 300px" />
                        }
                        else
                        {
                            <img src="@("~/ImageFromUsers/"+manga.ImageName)" asp-append-version="true" style="width: 100%; height: 300px" />
                        }
                        <br />
                        <div>
                            <div class="mt-2 pb-2 mr-1 ml-2" style="border-bottom: 1px solid #979797;">
                                <span class="title">
                                    @manga.MangaName
                                </span>
                                <br />
                                <span>
                                    @manga.Description
                                </span>
                            </div>
                            <div class="mt-3 mb-2">
                                @if (manga.CurrentUserIsVoted)
                                {
                                    <a asp-area="Designing"
                                       asp-controller="Manga"
                                       asp-action="Disenroll"
                                       asp-route-id="@manga.Id"
                                       class="btn btn-outline-danger w-25">
                                        Unvote
                                    </a>
                                }
                                else
                                {
                                    <a asp-area="Designing"
                                       asp-controller="Manga"
                                       asp-action="Enroll"
                                       asp-route-id="@manga.Id"
                                       class="btn btn-outline-danger w-25">
                                        Vote
                                    </a>
                                }
                            </div>
                            <div class="pt-1">
                                <a class="options-bar" asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                                    <span>Details</span>
                                </a>
                                @if (isHaveUpdatePermissions)
                                {
                                    <span>|</span>
                                    <a class="options-bar" asp-controller="Manga" asp-action="Update" asp-route-id="@manga.Id">
                                        Update
                                    </a>
                                }
                                @if (isHaveCreateAndDeletePermissions)
                                {
                                    <span>|</span>
                                    <a class="options-bar" asp-controller="Manga" asp-action="Delete" asp-route-id="@manga.Id">
                                        Delete
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
